/* Navbar Css */

.nav-Container{
  display: grid;
  overflow: hidden;
  background:#FFFFFF 0% 0% no-repeat padding-box ;
  border: 1px solid #EEDFFE;
  opacity: 1;
  height: auto;

  grid-template-columns: repeat(auto-fit, minmax(100px, 130px));
}

.nav-item{
  letter-spacing: 0px;
  opacity: 1;
}

.nav-item:hover{
  color: white;
  background-color:  #8870C9;
  cursor: pointer;
}

.selected-title {
  border-bottom: 2px solid #8870C9;
  color: #8870C9;
}


.unselected-title {
  color: #404B69;
}


.title-text{
  position: relative;
  bottom: 5px;
  text-align: center;
  font: Medium 14px/17px Roboto;
}

/* ---- */