/* Navbar Css */

.nav-Container{
  display: grid;
  overflow: hidden;
  background:#FFFFFF 0% 0% no-repeat padding-box ;
  border: 1px solid #EEDFFE;
  opacity: 1;
  height: auto;

  grid-template-columns: repeat(auto-fit, minmax(100px, 130px));
}

.nav-item{
  letter-spacing: 0px;
  opacity: 1;
}

.selected-title {
  border-bottom: 2px solid #8870C9;
  color: #8870C9;
}


.unselected-title {
  color: #404B69;
}

.unselected-title:hover {
  color: white;
  background-color:  #8870C9;
  cursor: pointer;
}


.title-text{
  position: relative;
  bottom: 5px;
  text-align: center;
  font: Medium 14px/17px Roboto;
}

/* ---- */
/* FormPage and TablePage css */

.FormPageContainer {
  height: 90%;
  width: 100%;
  animation-name: fade-in;
  animation-duration: 2s;
  position: fixed;
  background: whitesmoke;
  overflow-y: scroll;
}

.TablePageContainer {
  animation-name: fade-in;
  animation-duration: 2s;

}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.formContainer{
  margin-left:20px;
  margin-right: 20px;
  margin-bottom: 50px;
  display: grid;
  background: #FFFFFF;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 50px;
  padding-bottom: 50px;
}

.bar-title{
  text-align: left;
  font: Regular 18px/22px Roboto;
  letter-spacing: 0px;
  color: #2A62B7;
  opacity: 1;
}

.form-desc{
  margin-top: -15px;
  text-align: left;
  font: Regular 14px/17px Roboto;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

.title-and-desc{
  margin: 15px;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  margin-right: 3.5rem;
}

.labels {
  text-align: left;
  font: Regular 14px/17px Roboto;
  letter-spacing: 0px;
  color: #404B69;
  opacity: 1;
  margin-bottom: 10px;
}

.input-boxes{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 4px #AA94DE;
  border: 0.75px solid #AA94DE;
  border-radius: 5px;
  opacity: 1;
  width: auto;
  height: 35px;
  padding-left: 70px;
  text-align: left;
  font: Regular 12px/14px Roboto;
  letter-spacing: 0px;
  color: #757575;
  opacity: 1;
}

.POC:before {
  content: attr(data-placeholder);
  position: absolute;
  color: #aaa;
  width: 105px;
  padding-left: 10px;
  padding-top: 5px;
}

.POCI:before {
  content:url("./assets/ind.svg");
  position: absolute;
  color: #aaa;
  width: 105px;
  padding-left: 10px;
  padding-top: 5px;
}



.radio-inputs {
  display: flex;
  
}

.radio-inline{
  margin-right: 1.5rem;
}

.radio-option{
  height: 17px;
  width: 17px;
}

.submit-btn{
  position: absolute;
  right: 3rem;
  background: #48A44C 0% 0% no-repeat padding-box;
  border-radius: 3px;
  opacity: 1;
  height: 2rem;
  width: 5rem;
  border-radius: 5px;
  color: white;
}